// Search form
.search-form {
	@extend .form-inline;
}
.search-form label {
	font-weight: normal;
	@extend .form-group;
}
.search-form .search-field {
	@extend .form-control;
}
.search-form .search-submit {
	@extend .btn;
	@extend .btn-secondary;
}

input, textarea {
	border-radius: 0 !important;
	border: 1px solid $dark !important;
	width: 100% !important;
	padding: 10px 5px !important;
	margin-bottom: 1em !important;
	font-size: 14px !important;
}
label {
	width: 100%;
	font-size: 14px;
}

input[type="submit"] {

	position: relative;
	border: 1px solid $pink !important;
	border-radius: 0 !important;
	background-color: transparent !important;
	height: 55px;
	width: 200px !important;
	text-transform: uppercase;
	font-family: $raleway !important;
	font-weight: 200 !important;
	letter-spacing: 1px !important;
	font-size: 14px !important;
	color: $dark !important;
	transition: all 0.5s ease-in-out;

	&:hover {
		text-decoration: none;
		background-color: $pink;
		color: $white;
	}
}