// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;


//Colors
$lightpink: 	#FFC0CB;
$pink: 			#ff0066;
$red: 			#ff3535; //#ff4545;
$dark: 			#222; ///#1a1a1a;
$white: 		#fff;

$darkorchid:	#9932CC;
$darkmagenta:	#8B008B;
$purple:		#800080;
$indigo:		#4B0082;


//Fonts
$quicksand:		'Quicksand', sans-serif;
$poppins: 		'Poppins', sans-serif;
$assistant:		'Assistant', sans-serif;
$roboto: 		'Roboto', sans-serif;
$raleway: 		'Raleway', sans-serif;
$roboto-con:	'Roboto Condensed', sans-serif;
$montserrat: 	'Montserrat', sans-serif;


$heading-font: $montserrat;
$text-font: $quicksand;