section.diamond {
	padding: 100px 0;
	height: 100vh;
	//background-color: $dark;
	color: $white;
	background: linear-gradient(300deg, $dark, $pink);
	background-size: 400% 400%;

	animation: bgGradient 25s ease infinite;

	h1 {
		color: $white;
		font-size: 100px;
		@include media-breakpoint-down(md) {
			font-size: 50px;
		}
		@include media-breakpoint-down(sm) {
			font-size: 30px;
		}
	}
	.wrapper {
		
	}
	a {
		z-index: 1;
	}

	.diamond-container {
		.triangle {}
	}



}

.space {
	//http://csshexagon.com/
	.hexagon {
		position: relative;
		display: block;
		float: right;
		width: 250px; 
		height: 144.34px;
		margin: 72.17px 0;
		border-left: solid 1px $pink;
		border-right: solid 1px $pink;
		&::before, &::after {
			content: "";
			position: absolute;
			z-index: 1;
			width: 176.78px;
			height: 176.78px;
			-webkit-transform: scaleY(0.5774) rotate(-45deg);
			-ms-transform: scaleY(0.5774) rotate(-45deg);
			transform: scaleY(0.5774) rotate(-45deg);
			background-color: inherit;
			left: 35.6117px;
		}
		&::before {
			top: -88.3883px;
			border-top: solid 1.4142px $pink;
			border-right: solid 1.4142px $pink;
		}
		&:after {
			bottom: -88.3883px;
			border-bottom: solid 1.4142px $pink;
			border-left: solid 1.4142px $pink;
		}
		@include media-breakpoint-down(sm) {
			float: left;
			width: 200px; 
			height: 115.47px;
			margin: 57.74px 0;
			&:before,
			&:after {
				width: 141.42px;
				height: 141.42px;
				-webkit-transform: scaleY(0.5774) rotate(-45deg);
				-ms-transform: scaleY(0.5774) rotate(-45deg);
				transform: scaleY(0.5774) rotate(-45deg);
				left: 28.2893px;
			}
			&:before {
				top: -70.7107px;
			}
			&:after {
				bottom: -70.7107px;
			}
		}
	}
}


.diamond-narrow {
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-bottom: 70px solid $pink;
	position: relative;
	top: -50px;
	&:after {
		content: '';
		position: absolute;
		left: -50px; top: 70px;
		width: 0;
		height: 0;
		border: 50px solid transparent;
		border-top: 70px solid $pink;
	}
}

#heart {
	position: relative;
	width: 100px;
	height: 90px;
	&:before, &:after {
		position: absolute;
		content: "";
		left: 50px;
		top: 0;
		width: 50px;
		height: 80px;
		background: red;
		-moz-border-radius: 50px 50px 0 0;
		border-radius: 50px 50px 0 0;
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
		-webkit-transform-origin: 0 100%;
		-moz-transform-origin: 0 100%;
		-ms-transform-origin: 0 100%;
		-o-transform-origin: 0 100%;
		transform-origin: 0 100%;
	}
	&:after {
		left: 0;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
		-webkit-transform-origin: 100% 100%;
		-moz-transform-origin: 100% 100%;
		-ms-transform-origin: 100% 100%;
		-o-transform-origin: 100% 100%;
		transform-origin :100% 100%;
	}
}




#pentagon {
	position: relative;
	width: 54px;
	border-width: 50px 18px 0;
	border-style: solid;
	border-color: $pink transparent;
	&:before {
		content: "";
		position: absolute;
		height: 0;
		width: 0;
		top: -85px;
		left: -18px;
		border-width: 0 45px 35px;
		border-style: solid;
		border-color: transparent transparent $pink;
	}
}




.diamond-cut {
	border-style: solid;
	border-color: transparent transparent $pink transparent;
	border-width: 0 25px 25px 25px;
	height: 0;
	width: 50px;
	box-sizing: content-box;
	position: relative;
	margin: 20px 0 50px 0;
	&:after {
		content: "";
		position: absolute;
		top: 25px;
		left: -25px;
		width: 0;
		height: 0;
		border-style: solid;
		border-color: $pink transparent transparent transparent;
		border-width: 70px 50px 0 50px;
	}
}

.test {
	color: red;
	clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}






